.sign-in {
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    
    .title {
        margin: 10px;
    }

    // Remove code
    .buttons {
        display: flex;
        justify-content: space-between;
    }


}